<h1>Episodes</h1>
<ul>
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "Characters", characters_path %></li>
    <li><%= link_to "Episodes", episodes_path %></li>
    <li><%= link_to "About", about_path %></li>
</ul>
<h2><%= @episode.name %></h2>
  <h2>Air Date: <%= @episode.air_date %></h2>
  <h2>Episode: <%= @episode.episode_name %></h2>
<p>make a list of all characters in episode</p>