<h1>Episodes</h1>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/characters">Characters</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/episodes">Episodes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>
  </ul>

  <%= form_with(url: search_results_characters_path, method: "get", class:"form-inline", local: true) do %>
    <%= text_field_tag(:query, "", class:"form-control mr-sm-2",placeholder:"Search Characters") %>
    <%= submit_tag("Search", class:"btn btn-success") %>
  <% end %>
</nav>

<h2><%= @episode.name %></h2>
<h3>Air Date: <%= @episode.air_date %></h3>
<h3>Episode: <%= @episode.episode_name %></h3>

<h2>Characters that appear in the episode <%= @episode.name %></h2>

<% @episode.characters.each do |character| %>
  <h3><%= link_to character.name, character %></h3>
<% end %>