<h1>Characters</h1>

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to "Home", home_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to "Characters", characters_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to "Episodes", episodes_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><%= link_to "About", about_path %></a>
    </li>
  </ul>

  <%= form_with(url: search_results_characters_path, method: "get", class:"form-inline", local: true) do %>
    <%= text_field_tag(:query, "", class:"form-control mr-sm-2",placeholder:"Search Characters") %>
    <%= submit_tag("Search", class:"btn btn-success") %>
  <% end %>
</nav>

<h2><%= @character.name %></h2>
<%= image_tag @character.image %>
<h3>status: <%= @character.status %></h3>
<h3>species: <%= @character.species %></h3>
<h3>origin: <%= @character.origin %></h3>

<h2>Favourite Food: </h2>
<h3>Name: <%= @character.favourite_food.name %></h3>
<h3>Description: <%= @character.favourite_food.description %></h3>

<h2>Episodes <%= @character.name %> appears in:</h2>

<% @character.episodes.each do |episode| %>
  <h3><%= link_to episode.name, episode %></h3>
<% end %>