<h1>Characters</h1>
<ul>
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "Characters", characters_path %></li>
    <li><%= link_to "Episodes", episodes_path %></li>
    <li><%= link_to "About", about_path %></li>
</ul>
<h2><%= @character.name %></h2>
<%= image_tag @character.image %>
<h3>status: <%= @character.status %></h3>
<h3>species: <%= @character.species %></h3>
<h3>origin: <%= @character.origin %></h3>

<h2>Favourite Food: </h2>
<h3>Name: <%= @character.favourite_food.name %></h3>
<h3>Description: <%= @character.favourite_food.description %></h3>

<h2>Episodes <%= @character.name %> appears in:</h2>

<% @character.episodes.each do |episode| %>
  <h3><%= link_to episode.name, episode %></h3>
<% end %>